name: "Linter"

on:
  push:

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.8.1
          cache: 'yarn'

      - name: Install Packages
        run: yarn

      - name: Run Eslint
        run: yarn linter